<nav class="navbar navbar-default">
  <div class="container col-sm-12 col-md-12 col-lg-12 header-resize">
    <div class="navbar-header">
      <img alt="ZU" class="header-zu-icon" src="../../ZU/assets/images/common/ZU-icon-white.svg">
    </div>
    <nav class="nav-container">
      <input type="checkbox" id="menu" name="menu">
      <ul class="links-position">
        <li class="text-center links-text">Produtos</li>
        <li class="text-center links-text">Veterinários</li>
        <li class="text-center links-text">Grooming</li>
        <li class="text-center links-text">Treinos</li>
        <li class="text-center links-text">Adoção</li>
      </ul>
      <label for="menu" id="menu"></label>
    </nav>
    <form class="navbar-form navbar-right form-inline d-none d-sm-block">
      <div class="input-group">
        <input type="text" class="form-control hide-search" placeholder="Search">
        <img src="../../ZU/assets/images/header/search-icon.svg">
      </div>
    </form>
    <ul class="nav navbar-nav login-position hidden-md visible-xs">
      <li class="login-icon"><img src="../../ZU/assets/images/header/login-icon.svg"></li>
    </ul>
  </div>
</nav>
