<div class="footer">
  <div class="newsletter-field">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-1 news-image-field">
          <img src="../../ZU/assets/images/common/e-mail-icon.svg" class="center-block img-space">
        </div>
        <div class="col-md-4 col-xs-1 news-h1-field">
          <h1 class="newsletter-h1">Subscreve a Newsletter e sabe mais sobre o teu amigo de quatro patas!</h1>
        </div>
        <div class="col-md-2 col-xs-1 news-pets-field">
          <p class="pet-question">Que animal tens?</p>
          <div class="choose-pet">
            <div class="select-pet">
              <div class="user-dog">
                <img class="dog-image" src="../../ZU/assets/images/common/dog-icon.svg">
                <span class="dog-text">Cão</span>
              </div>
            </div>
            <div class="select-pet">
              <div class="user-cat">
                <img class="cat-image" src="../../ZU/assets/images/common/cat-icon.svg">
                <span class="cat-text">Gato</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-1 news-form-field">
          <form class="newsletter-form">
            <label class="label-email" for="email" id="email">E-mail</label>
            <input class="input-email" id="email" type="text" placeholder="E-mail">
            <div class="button-email-field center-block">
              <button class="button-email" type="button">
                <span class="button-email-span">Enviar</span>
                <img src="../../ZU/assets/images/common/arrow-icon-black.svg" class="greater-icon">
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-field">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-xs-12 zu-icon-field">
          <img class="footer-zu-icon center-block" src="../../ZU/assets/images/common/ZU-icon-green.svg">
        </div>
        <div class="col-md-8 col-xs-4 footer-links-field-desktop">
          <span class="footer-links">Produtos</span>
          <span class="footer-links">Veterinários</span>
          <span class="footer-links">Grooming</span>
          <span class="footer-links">Treinos</span>
          <span class="footer-links">Adoção</span>
          <span class="footer-links">Lojas</span>
          <span class="footer-links">Contactos</span>
        </div>
        <div class="col-xs-2 footer-links-field-mobile">
          <span class="footer-links left-link">Produtos</span>
          <span class="footer-links right-link">Veterinários</span>
        </div>
        <div class="col-xs-2 footer-links-field-mobile">
          <span class="footer-links left-link">Grooming</span>
          <span class="footer-links right-link">Treinos</span>
        </div>
        <div class="col-xs-2 footer-links-field-mobile">
          <span class="footer-links left-link">Adoção</span>
          <span class="footer-links right-link">Contactos</span>
        </div>
        <div class="col-xs-2 footer-links-field-mobile">
          <span class="footer-links left-link">Lojas</span>
        </div>
        <div class="col-md-1 col-xs-1"></div>
        <div class="col-md-2 col-xs-12">
        <h2 class="social-h2">Redes Sociais</h2>
          <div class="social-field">
            <img class="facebook" src="../../ZU/assets/images/footer/facebook.svg">
            <img class="instagram" src="../../ZU/assets/images/footer/instagram.svg">
            <img class="google-plus" src="../../ZU/assets/images/footer/google-plus.svg">
            <img class="youtube" src="../../ZU/assets/images/footer/youtube.svg">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <h2 class="trademark">&copy; 2017 ZU - Marca Registada Sonae MC</h2>
        </div>
        <div class="col-md-9"></div>
      </div>
    </div>
  </div>
</div>
