<app-header></app-header>
<div class="overflow">
  <div class="d-none d-lg-block d-md-block ">
    <div class="video-field embed-responsive embed-responsive-16by9">
      <video autoplay preload="true" class="embed-responsive-item">
        <source src="../../assets/videos/EfeitoZU.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="main-mobile d-md-none d-lg-none d-xl-none">
    <img class="video-iframe img-responsive" src="../../assets/images/common/mobile-iframe.png">
  </div>
  <div class="mouse-icon d-xl-block d-lg-none d-md-none d-sm-none">
    <img src="../../assets/images/common/scroll-down-icon.svg" class="img-responsive">
  </div>
  <div class="efeitozu-field">
    <div class="container">
      <div class="efeitozu-field-desc text-center">
        <h1 class="efeito-h1">Esperam o dia todo para te receber.<br> Para ti é mais um momento do teu dia.</h1>
        <h2 class="efeito-h2">Para eles, o vosso reencontro.</h2>
        <p class="efeito-p">#efeitoZU</p>
      </div>
    </div>
  </div>
  <div class="blog-field">
    <div class="container">
      <img class="blog-indicator" src="../../assets/images/common/blog-tab.png">
      <div class="row blog-field-desc">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <h1 class="blog-h1">Ora Bolas, Aristides</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
          <p class="blog-p">Todos temos uma história para contar.</p>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
          <button class="button-blog" type="button">
            <span class="button-blog-span">Descobre</span>
            <img src="../../assets/images/common/arrow-icon-blue.svg " class="blog-greater-icon">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="adocao-field">
    <div class="container">
      <img class="adocao-indicator" src="../../assets/images/common/adocao-tab.png">
      <div class="row adocao-field-desc">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <h1 class="adocao-h1">Dá-me trela</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
          <h2 class="adocao-h2">Adota, nós ajudamos!</h2>
          <p class="adocao-p">Oferta do primeiro KIT com um conjunto de mimos para o teu cão ou gato.</p>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
          <button class="button-adocao" type="button">
            <span class="button-adocao-span">Adota-me</span>
            <img src="../../assets/images/common/arrow-icon-blue.svg" class="adocao-greater-icon">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="doutorzu-field">
    <div class="container">
      <img class="doutorzu-indicator" src="../../assets/images/common/veterinario-tab.png">
      <div class="row doutorzu-field-desc">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <h1 class="doutor-zu-h1">Doutor ZU</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
          <p class="doutor-zu-p">A nossa casa em tua casa.</p>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
          <button class="button-doutor-zu" type="button">
            <span class="button-doutor-zu-span">Pergunta</span>
            <img src="../../assets/images/common/arrow-icon-blue.svg" class="doutor-zu-greater-icon">
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="servicos-field">
    <div class="container">
      <h1 class="servicos-h1">Serviços</h1>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="col-lg-3 col-md-3 col-xs-12 mobile-space d-inline-block servicos-content-field">
            <img class="produtos-icon img-responsive center-block" src="../../assets/images/common/serv-produtos.svg">
            <h1 class="produtos-h1 text-center">Produtos</h1>
            <p class="produtos-p text-center">alimentação e acessórios</p>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12 mobile-space d-inline-block servicos-content-field">
            <img class="veterinario-icon img-responsive center-block" src="../../assets/images/common/serv-veterinario.svg">
            <h1 class="veterinario-h1 text-center">Veterinário</h1>
            <p class="veterinario-p text-center">equipa médica experiente</p>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12 mobile-space d-inline-block servicos-content-field">
            <img class="grooming-icon img-responsive center-block" src="../../assets/images/common/serv-grooming.svg">
            <h1 class="grooming-h1 text-center">Grooming</h1>
            <p class="grooming-p text-center">banhos e tosquias</p>
          </div>
          <div class="col-lg-3 col-md-3 co-xs-12 mobile-space d-inline-block servicos-content-field">
            <img class="treinos-icon img-responsive center-block" src="../../assets/images/common/serv-treinos.svg">
            <h1 class="treinos-h1 text-center">Treinos</h1>
            <p class="treinos-p text-center">treinadores profissionais</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
