.video-field {
  width: 100%;
  margin-top: 107px;
  position: relative;
}

.mouse-icon {
  position: absolute;
  left: 46%;
  top: 90vh;
  animation: fadeIn 5s infinite alternate;
}

.video-iframe {
  width: 100%;
  margin-top: 107px;
  height: 450px;
}

.mobile-h1 {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 78px;
  font-family: Boing-Medium;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  margin-top: 100px;
}

.blog-h1 {
  font-family: Boing-Bold;
  font-size: 62px;
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: 1.9px;
  color: #f07723;
  margin-top: 25vh;
}

.blog-p {
  height: 107px;
  font-family: Boing-Medium;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1px;
  color: #ffffff;
}

.button-blog {
  position: absolute;
  width: 175px;
  height: 55px;
  border: 0;
  border-radius: 28px;
  background-color: #17d4d0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out;
}

.button-blog-span {
  width: 102px;
  height: 28px;
  font-family: Boing-Medium;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #021e38;
  padding-right: 20px;
}

.blog-greater-icon {
  position: absolute;
  right: 15px;
  top: 20px;
}

.adocao-h1 {
  font-family: Boing-Bold;
  font-size: 85px;
  font-weight: bold;
  line-height: 0.8;
  letter-spacing: 2px;
  color: #ec4857;
  margin-top: 25vh;
}

.adocao-h2 {
  font-family: Boing-Medium;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1.7px;
  color: #ffffff;
}

.adocao-p {
  height: 107px;
  font-family: Boing-Regular;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 1.1px;
  color: #ffffff;
  margin-top: 50px;
}

.button-adocao {
  position: absolute;
  width: 175px;
  height: 55px;
  border: 0;
  border-radius: 28px;
  background-color: #fed001;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out;
  margin-top: 10px;
}

.button-adocao-span {
  width: 102px;
  height: 28px;
  font-family: Boing-Medium;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #021e38;
  padding-right: 20px;
}

.adocao-greater-icon {
  position: absolute;
  right: 15px;
  top: 20px;
}

.doutor-zu-h1 {
  font-family: Boing-Bold;
  font-size: 85px;
  font-weight: bold;
  line-height: 0.9;
  letter-spacing: 1.9px;
  color: #fdc80a;
  margin-top: 25vh;
}

.doutor-zu-p {
  height: 107px;
  font-family: Boing-Medium;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.0;
  letter-spacing: 1.7px;
  color: #ffffff;
}

.button-doutor-zu {
  position: absolute;
  width: 175px;
  height: 55px;
  border: 0;
  border-radius: 28px;
  background-color: #f58b2d;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out;
}

.button-doutor-zu-span {
  width: 102px;
  height: 28px;
  font-family: Boing-Medium;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #021e38;
  padding-right: 20px;
}

.doutor-zu-greater-icon {
  position: absolute;
  right: 15px;
  top: 20px;
}

.brands-margin {margin-top: 64px;}

.images-order {margin-top: 3%;}

.button-adocao:hover {transform: scale(1.1);}

.button-doutor-zu:hover {transform: scale(1.1);}

.button-blog:hover {transform: scale(1.1);}

.blog-indicator,
.doutorzu-indicator,
.adocao-indicator {
  position: absolute;
  left: 44%;
  width: 142px;
}
