@font-face {
    font-family: Boing-Bold;
    src: url('Boing-Bold.ttf');
}

@font-face {
    font-family: Boing-BoldItalic;
    src: url('Boing-BoldItalic.ttf');
}

@font-face {
    font-family: Boing-Italic;
    src: url('Boing-Italic.ttf');
}

@font-face {
    font-family: Boing-Light;
    src: url('Boing-Light.ttf');
}

@font-face {
    font-family: Boing-LightItalic;
    src: url('Boing-LightItalic.ttf');
}

@font-face {
    font-family: Boing-Medium;
    src: url('Boing-Medium.ttf');
}

@font-face {
    font-family: Boing-MediumItalic;
    src: url('Boing-MediumItalic.ttf');
}

@font-face {
    font-family: Boing-Regular;
    src: url('Boing-Regular.ttf');
}

@font-face {
    font-family: Boing-Semibold;
    src: url('Boing-Semibold.ttf');
}

@font-face {
    font-family: Boing-SemiboldItalic;
    src: url('Boing-SemiboldItalic.ttf');
}

@font-face {
    font-family: Boing-Thin;
    src: url('Boing-Thin.ttf');
}

@font-face {
    font-family: Boing-ThinItalic;
    src: url('Boing-ThinItalic.ttf');
}