.landing-field {
  background-image: url("../../assets/images/landing-page/landing-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.landing-container {float: right;}

.landing-row {padding-left: 200px;}

.landing-h1 {
  height: 80px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: left;
  color: #f58b2d;
  margin-bottom: 10px;
}

.landing-h2 {
  font-family: Boing-Regular;
  line-height: 1.15;
  letter-spacing: 1px;
  text-align: left;
  color: #f58b2d;
}

.landing-p {
  font-family: Boing-Regular;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 3px 19px rgba(0, 0, 0, 0.5);
}

.landing-span {color: #f58b2d;}

.landing-pet-question-p {
  font-family: Boing-Regular;
  height: 27px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.landing-choose-pet {margin-top: 10px;}

.landing-user {
  display: inline-block;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #CCC;
  border: 1px solid #002848;
}

.landing-dog-image {
  width: 70px;
  height: 70px;
}

.landing-cat-image {
  width: 70px;
  height: 70px;
  margin-left: 2px;
}

.landing-select-pet {
  list-style: none;
  display: inline-block;
}

.landing-cat {margin-left: 10px;}

.landing-dog-text {
  width: 19px;
  height: 14px;
  position: absolute;
  top: 98px;
	left: 42px;
  font-family: Boing-Medium;
  font-size: 10px;
  font-weight: 500;
  color: #5c5c5c;
}

.landing-cat-text {
  width: 19px;
  height: 14px;
  position: absolute;
  top: 98px;
  left: 125px;
  font-family: Boing-Medium;
  font-size: 10px;
  font-weight: 500;
  color: #5c5c5c;
}

.landing-form-label {
  font-family: Boing-Regular;
  font-size: 20px;
  font-weight: 500;
  color: #f58b2d;
  margin-top: 25px;
}

.owner-input-field {
  margin-top: 20px;
  line-height: 20px;
}

.input-landing {
  display: block;
  width: 100%;
  height: 34px;
  padding: 25px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #FFF;
  background-color: transparent;
  background-image: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  border-top: 0;
  border-radius: 0;
}

.input-landing::-webkit-input-placeholder {color: #FFF;}

.input-landing:-moz-placeholder {
  color: #FFF;
  opacity: 1;
}

.input-landing::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}

.input-landing:-ms-input-placeholder {color: #FFF;}

.input-landing::-ms-input-placeholder {color: #FFF;}

.button-submit-zu {
  width: 175px;
  height: 55px;
  border: 0;
  right: 450px;
  border-radius: 28px;
  background-color: #f58b2d;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in-out;
  margin-top: 50px;
}

.button-submit-zu-span {
  width: 102px;
  height: 28px;
  font-family: Boing-Medium;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #021e38;
  padding-right: 20px;
}

.submit-zu-greater-icon {
  padding-bottom: 5px;
  box-sizing: border-box;
}

.button-submit-zu:hover {transform: scale(1.1);}

.animal-input-field {
  margin-top: 10%;
  margin-bottom: -10%;
}

.mouse-icon-landing {
  position: absolute;
  left: 80%;
  top: 88%;
  animation: fadeIn 5s infinite alternate;
}

.homepage-button-field {
  width: 170px;
  margin: 50px auto 0 auto;
}
