<div class="overflow">
  <div class="landing-field">
    <div class="container landing-container">
      <div class="row landing-row">
        <div class="col-sm-10 col-md-10">
          <h1 class="landing-h1">#efeitoZU</h1>
          <h2 class="landing-h2">Segue o nosso e fala-nos do teu.</h2>
          <p class="landing-p">Deixa aqui os teus dados e vai à loja ZU mais próxima que nós <span class="landing-span">oferecemos um novo brinquedo</span> para o teu amiguinho e a ti <span class="landing-text-span">20% de desconto</span> no 1.º check up dele. Obrigada!</p>
        </div>
      </div>
      <div class="row landing-row">
        <div class="col-sm-10 col-md-10">
          <div class="row">
            <div class="col-sm-4 col-md-4 landing-pet-question-field">
              <p class="landing-pet-question-p">Que animal tens?</p>
              <div class="landing-select-pet">
                <div class="landing-user">
                  <img class="landing-dog-image" src="../../ZU/assets/images/common/dog-icon.svg">
                </div>
                <span class="landing-dog-text">Cão</span>
              </div>
              <div class="landing-select-pet">
                <div class="landing-user landing-cat">
                  <img class="landing-cat-image" src="../../ZU/assets/images/common/cat-icon.svg">
                </div>
                <span class="landing-cat-text">Gato</span>
              </div>
            </div>
            <div class="col-sm-8 col-md-8 animal-input-content-field">
              <form>
                <div class="animal-input-field">
                  <input type="text" class="input-landing" id="inputAnimal" placeholder="Escreve aqui o nome do teu animal">
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <form>
                <div class="owner-input-field">
                  <label for="inputNome" class="landing-form-label">Nome</label>
                  <input class="input-landing" type="email" id="inputNome" placeholder="Escreve aqui o teu nome">
                </div>
                <div class="inputs-landing">
                  <label for="inputEmail" class="landing-form-label">Email</label>
                  <input class="input-landing" id="inputEmail" placeholder="Escreve aqui o teu e-mail">
                </div>
                <div class="inputs-landing">
                  <label for="inputLocalidade" class="landing-form-label">Localidade</label>
                  <input class="input-landing" id="inputLocalidade" placeholder="Escreve aqui a tua localidade">
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <a href="#">
                  <button class="button-submit-zu" type="button">
                  <span class="button-submit-zu-span">Pergunta</span>
                  <img src="../../ZU/assets/images/common/arrow-icon-blue.svg" class="submit-zu-greater-icon">
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mouse-icon-landing hidden-xs hidden-sm">
          <img src="../../ZU/assets/images/common/scroll-down-icon.svg" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="efeitozu-field">
    <div class="container">
      <div class="efeitozu-field-desc text-center">
        <h1 class="efeito-h1">Esperam o dia todo para te receber. Para ti é mais um momento do teu dia.</h1>
        <h2 class="efeito-h2">Para eles, o vosso reencontro.</h2>
        <p class="efeito-p">#efeitoZU</p>
      </div>
    </div>
  </div>
  <div class="servicos-field">
    <div class="container">
      <h1 class="servicos-h1">Serviços</h1>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="col-lg-3 col-md-3 col-xs-12 mobile-space d-inline-block servicos-content-field">
            <img class="produtos-icon img-responsive center-block" src="../../ZU/assets/images/common/serv-produtos.svg">
            <h1 class="produtos-h1 text-center">Produtos</h1>
            <p class="produtos-p text-center">alimentação e acessórios</p>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12 mobile-space d-inline-block servicos-content-field">
            <img class="veterinario-icon img-responsive center-block" src="../../ZU/assets/images/common/serv-veterinario.svg">
            <h1 class="veterinario-h1 text-center">Veterinário</h1>
            <p class="veterinario-p text-center">equipa médica experiente</p>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12 mobile-space d-inline-block servicos-content-field">
            <img class="grooming-icon img-responsive center-block" src="../../ZU/assets/images/common/serv-grooming.svg">
            <h1 class="grooming-h1 text-center">Grooming</h1>
            <p class="grooming-p text-center">banhos e tosquias</p>
          </div>
          <div class="col-lg-3 col-md-3 co-xs-12 mobile-space d-inline-block servicos-content-field">
            <img class="treinos-icon img-responsive center-block" src="../../ZU/assets/images/common/serv-treinos.svg">
            <h1 class="treinos-h1 text-center">Treinos</h1>
            <p class="treinos-p text-center">treinadores profissionais</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="homepage-button-field">
          <a [routerLink]="['ZU/homepage']">
            <button class="button-submit-zu" type="button">
              <span class="button-submit-zu-span">Homepage</span>
              <img src="../../ZU/assets/images/common/arrow-icon-blue.svg" class="submit-zu-greater-icon">
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
