.efeitozu-field {
  background-image: url("./assets/images/homepage/efeitoZU.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.efeitozu-field-desc {padding-top: 40vh;}

.efeito-h1 {
  font-family: Boing-Light;
  font-size: 38px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 1px;
  color: #002948;
}

.efeito-h2 {
  font-family: Boing-Semibold;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 1px;
  color: #002948;
  margin-top: 20px;
}

.efeito-p {
  width: 213px;
  height: 39px;
  font-family: Boing-Bold;
  font-size: 43.7px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: 0.6px;
  color: #14865b;
  margin: 50px auto 0 auto;
}

.adocao-field {
  background-image: url("./assets/images/homepage/adocao.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.doutorzu-field {
  background-image: url("./assets/images/homepage/doutorZU.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.blog-field {
  background-image: url("./assets/images/homepage/blog.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.servicos-field {height: 100vh;}

.servicos-h1 {
  font-family: Boing-Semibold;
  font-size: 45px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  color: #002948;
  text-align: center;
  padding: 20vh 0 15vh 0;
}

.produtos-h1 {
  height: 43px;
  font-family: Boing-Bold;
  font-size: 30px;
  font-weight: bold;
  color: #fc3a50;
}

.produtos-p {
  height: 21px;
  opacity: 0.5;
  font-family: Boing-Medium;
  font-size: 16px;
  font-weight: 500;
  color: #ec4857;
}

.veterinario-h1 {
  height: 43px;
  font-family: Boing-Bold;
  font-size: 30px;
  font-weight: bold;
  color: #00cccc;
}

.veterinario-p {
  height: 20px;
  opacity: 0.5;
  font-family: Boing-Medium;
  font-size: 16px;
  font-weight: 500;
  color: #17d4d0;
}

.grooming-h1 {
  height: 43px;
  font-family: Boing-Bold;
  font-size: 30px;
  font-weight: bold;
  color: #fd861b;
}

.grooming-p {
  height: 20px;
  opacity: 0.5;
  font-family: Boing-Medium;
  font-size: 16px;
  font-weight: 500;
  color: #f58b2d;
}

.treinos-h1 {
  height: 43px;
  font-family: Boing-Bold;
  font-size: 30px;
  font-weight: bold;
  color: #fec309;
}

.treinos-p {
  height: 21px;
  opacity: 0.5;
  font-family: Boing-Medium;
  font-size: 16px;
  font-weight: 500;
  color: #fed001;
}

.produtos-icon {
  width: 140px;
  height: 139px;
  margin-left: 60px;
}

.veterinario-icon {
  width: 166px;
  height: 139px;
  margin-left: 45px;
}

.grooming-icon {
  height: 138px;
  width: 174px;
  margin-left: 40px;
}

.treinos-icon {
  width: 140px;
  height: 138px;
  margin-left: 57px;
}

.overflow {overflow: hidden;}

.mobile-space {
  margin-top: 40px;
  margin-bottom: 40px;
}

@keyframes fadeIn {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

